{% extends 'container.html' %} {% block body %}
<div id="app" class="pure-g center">
  <h3 class="slide-container-lg px-lg">Service State:</h3>
  <label class="switch">
    <input type="checkbox" v-model="status" />
    <span class="slider">{{ statusTitle }}</span>
  </label>

  <div class="pure-u-1 py-md" role="group" aria-label="...">
    <div class="pure-g border-bottom hover-secondary">
      <a class="pure-menu-link py-sm" :class="{ selected: view === 'queue' }" href="#" @click="view = 'queue'">Current Queue</a>
      <a class="pure-menu-link py-sm" :class="{ selected: view === 'next' }" href="#" @click="view = 'next'" >Next Leads</a>
    </div>
    <div id='queue-view' v-if="view === 'queue'">
      <queuelist />
    </div>
    <div id='next-view' v-if="view === 'next'">
        <h4>Next Leads to Call</h4>
    </div>
    </div>
  </div>
    {% endblock %} {% block script %}
  <script setup type="module">
    import queuelist from './static/js/components/queuelist.js';
    const { createApp, ref, computed } = Vue;
    createApp({
      setup() {
        const status = ref(true);
        const view = ref('queue');
        const statusTitle = computed(() => {
          return status.value == true ? 'ON' : 'OFF';
        });
        return {
          status,
          statusTitle,
          view
        };
      },
      components: {
        queuelist
      }
    }).mount('#app');
  </script>
  {% endblock%}
</div>
