[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dotenv = "*"
flask-limiter = "*"
requests = "*"
elevenlabs = "*"

[dev-packages]

[requires]
python_version = "3.14"
