:root {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --color-light: white;
  --color-secondary: rgb(62 0 82);
  --color-light-primary: #fff5f2;
  --color-medium-primary: #ffd8ce;
  --color-shadow: 287deg 28% 66%;
  --shadow-elevation-medium:
    0.4px 0.2px 0.5px hsl(var(--color-shadow) / 0.31),
    1.2px 0.6px 1.5px -0.8px hsl(var(--color-shadow) / 0.31),
    3px 1.5px 3.8px -1.7px hsl(var(--color-shadow) / 0.31),
    7.2px 3.7px 9.1px -2.5px hsl(var(--color-shadow) / 0.31);
  --color-selection: rgb(243, 76, 34);
}

h2 {
  color: var(--color-secondary);
}

main {
  min-width: 60%;
  background: var(--color-light);
  border-radius: 15px;
  margin-top: 1rem;
  border: 1px solid var(--color-medium-primary);
  height: calc(100vh - 48rem);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-sm {
  padding: var(--spacing-sm);
}
.p-md {
  padding: var(--spacing-md);
}
.p-lg {
  padding: var(--spacing-lg);
}

.px-sm {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}
.py-sm {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.px-md {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}
.py-md {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.px-lg {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}
.py-lg {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.content {
  background-color: var(--color-light-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.pure-menu-link {
  color: var(--color-secondary);
  background-color: transparent;
  border-radius: 7px;
  padding: 1.2rem 1rem;
}

.pure-menu-link:focus {
  background-color: var(--color-medium-primary);
}

.pure-menu-link:hover {
  background-color: transparent;
}

.pure-menu-selected,
.pure-menu-selected:hover {
  background: var(--color-selection);
  color: var(--color-light);
}

[class^='fa-'] {
  margin-right: 0.4rem;
}

:not(.pure-menu-selected).pure-menu-link:hover::after {
  content: '';
  position: absolute;
  bottom: 10px; /* Position at the bottom of the container */
  left: 10%; /* Start the border 10% from the left corner */
  right: 10%; /* End the border 10% from the right corner */
  height: 2px; /* The thickness of the "border" */
  background-color: var(--color-selection); /* The color of the "border" */
}
