:root {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --color-light: white;
  --color-secondary: rgb(92, 17, 117);
  --color-medium-secondary: #d7b9e0;
  --color-light-secondary: #f9ecff;
  --color-lighter-secondary: #fdf6ff;
  --color-primary: rgb(243, 76, 34);
  --color-medium-primary: #ffd8ce;
  --color-light-primary: #fff7f4;
  --color-shadow: 287deg 28% 66%;
  --shadow-elevation-medium:
    0.4px 0.2px 0.5px hsl(var(--color-shadow) / 0.31),
    1.2px 0.6px 1.5px -0.8px hsl(var(--color-shadow) / 0.31),
    3px 1.5px 3.8px -1.7px hsl(var(--color-shadow) / 0.31),
    7.2px 3.7px 9.1px -2.5px hsl(var(--color-shadow) / 0.31);
}

/* colors */
.color-secondary {
  color: var(--color-secondary);
}
.color-primary {
  color: var(--color-primary);
}

/* tags */
a {
  color: var(--color-secondary);
  text-decoration: none;
}

body {
  color: var(--color-secondary);
}

main {
  min-width: 60%;
  background: var(--color-light);
  border-radius: 15px;
  margin-top: 1rem;
  border: 1px solid var(--color-medium-primary);
  height: calc(100vh - 48rem);
  min-height: max-content;
}

main h1,
main h2 {
  color: var(--color-primary);
  filter: saturate(0.75) brightness(1.7);
}

label {
  font-weight: 600;
  font-size: 1.1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-sm {
  margin-bottom: var(--spacing-sm);
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.p-sm {
  padding: var(--spacing-sm);
}
.p-md {
  padding: var(--spacing-md);
}
.p-lg {
  padding: var(--spacing-lg);
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-sm {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.px-md {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.px-lg {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-sm {
  padding-top: var(--spacing-sm) !important;
  padding-bottom: var(--spacing-sm) !important;
}

.py-md {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.py-lg {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.content {
  background-color: var(--color-light-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.pure-menu-link {
  color: var(--color-secondary);
  background-color: transparent;
  border-radius: 7px;
  position: relative; /* needed for the absolute ::after underline */
  padding: 1.2rem 1rem;
}

.pure-menu-link:hover,
.pure-menu-link:focus,
.pure-menu-link:focus-visible {
  background-color: transparent;
}

.pure-menu-selected,
.pure-menu-selected:hover,
.pure-menu-selected:focus,
.pure-menu-selected:focus-visible {
  background-color: var(--color-primary);
  color: var(--color-light);
}

[class^='fa-'] {
  margin-right: 0.4rem;
}

:not(.pure-menu-selected).pure-menu-link::after {
  content: '';
  position: absolute;
  bottom: -1px; /* Position at the bottom of the container */
  left: 10%; /* Start the border 10% from the left corner */
  right: 10%; /* End the border 10% from the right corner */
  height: 2px; /* The thickness of the "border" */
  background-color: var(--color-primary); /* The color of the "border" */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 160ms ease-in;
  pointer-events: none;
}

.hover-secondary > :not(.pure-menu-selected).pure-menu-link::after {
  background-color: var(--color-secondary);
}

/* On hover, scale the underline in (ease-in) */
:not(.selected):not(.pure-menu-selected).pure-menu-link:hover::after {
  transform: scaleX(1);
}

/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
  font-size: 30px;
  position: relative;
  display: inline-block;
  width: 5.3em;
  height: 2.2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--color-medium-primary);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 1rem;
  padding-left: 4.7rem;
}

.slider:before {
  position: absolute;
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slide-container-lg {
  line-height: 1.8rem;
}

.switch input:checked + .slider {
  background: #6cec6c;
  padding-left: 2rem;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-medium-primary);
}

.switch input:checked + .slider:before {
  transform: translateX(3.1em);
}

.border-bottom {
  border-bottom: 2px solid var(--color-medium-secondary);
}

.border-top {
  border-top: 2px solid var(--color-lighter-secondary);
}

.selected,
.selected:hover,
.selected:focus,
.selected:focus-visible {
  background-color: var(--color-light-secondary);
  border-radius: 0;
  font-weight: 600;
}

.row {
  align-items: center;
  padding-top: var(--spacing-sm);
  vertical-align: middle;
}

.row:hover {
  background-color: var(--color-light-primary);
}

.row-sm {
  font-size: 0.9rem;
  line-height: 1.3rem;
}
