<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>AI Booker - [[ title ]] / Achieve Test Prep</title>
  </head>
  <body class="content">
    <div id="layout" class="pure-g">
      <h2 class="pure-u-1 center color-primary">ANNA BOOKER CONTROL CENTER</h3>
      <div class="pure-u-1 pure-g center">
        <nav class="pure-menu pure-menu-horizontal center">
          <ul class="pure-menu-list">
            <li class="pure-menu-item py-sm">
              <a class="pure-menu-link [[ 'pure-menu-selected' if title == 'Dashboard' ]]" href="/"
                ><i class="fa-regular fa-house"></i>Dashboard</a
              >
            </li>
            <li class="pure-menu-item py-sm">
              <a class="pure-menu-link [[ 'pure-menu-selected' if title == 'Dialer Service' ]]" href="/call_service"
                ><i class="fa-classic fa-phone"></i>Dialer Service</a
              >
            </li>
            <li class="pure-menu-item py-sm">
              <a class="pure-menu-link [[ 'pure-menu-selected' if title == 'Conversations' ]]" href="/conversations_log"
                ><i class="fa-classic fa-clock-rotate-left"></i>Conversations</a
              >
            </li>
            <li class="pure-menu-item py-sm">
              <a class="pure-menu-link [[ 'pure-menu-selected' if title == 'Statistics' ]]" href="/statistics"
                ><i class="fa-regular fa-file-lines"></i>Stats</a
              >
            </li>
            <li class="pure-menu-item py-sm">
              <a class="pure-menu-link [[ 'pure-menu-selected' if title == 'Test Zone' ]]" href="/test_zone"
                ><i class="fa-classic fa-vial"></i>Test Zone</a
              >
            </li>
            <li class="pure-menu-item py-sm">
              <a class="pure-menu-link [[ 'pure-menu-selected' if title == 'Settings' ]]" href="/settings"
                ><i class="fa-classic fa-gear"></i>Settings</a
              >
            </li>
            <li class="pure-menu-item py-sm">
              <a class="pure-menu-link [[ 'pure-menu-selected' if title == 'Administration' ]]" href="/admin"
                ><i class="fa-classic fa-mug-hot"></i>Admin</a
              >
            </li>
          </ul>
        </nav>

        <main class="px-lg pure-u py-sm">
          <h2 class="center pt-0">[[ title ]]</h2>
          {% block body %} {% endblock %}
        </main>
      </div>
    </div>
  </body>
  {% block script %} {% endblock %}
</html>
